<!DOCTYPE html>
<html>
<head>
	<title>Signin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >
	<link rel="shortcut icon" href="./Assets/logo.jpg">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./register.css">
</head>
<body>
	<div class="navbar">
		<span class="right"><a href="#"><i class="fab fa-viacoin icc"></i>&nbspHOME </a></span>
		<span>
			<span class="left show"><a href="#">FAQ's</a></span>
			<span class="left show"><a href="#">CONTACT US</a></span>
		</span>
	</div>
	<div class="mainbody">
		<div class="register">
			<br>
			<form method="POST" action="/index">
				<div class="lab">Sign-In</div><br>
				<div class="name">Enter Name :- </div>
				<div class="namefield"><input type="text" name="name" width=100% autocomplete="off" required="required"></div>
				<div class="name">Enter Password :- </div>
				<div class="namefield"><input type="text" name="pasd" width=100% autocomplete="off" required="required"></div>
				<div class="btncenter"><input class="butt" id="lel" type="submit" value="Submit"></div>
			</form>
			<br>
		</div>
	</div>
</body>
</html>